/* stylelint-disable prettier/prettier */
.cast-list {
  margin-top: auto;

  &__list {
    display: flex;
    gap: 2rem;
    margin-left: 4rem;
    padding-top: 1.5rem;
  }

  &__item {
    width: 13rem;
    height: 19rem;
    background-color: $color-black-light;
    @include respond(desktop) {
      width: 9rem;
      height: 14rem;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__name {
    font-size: 1.5rem;
  }
}
