.item {
  width: 35rem;
  height: 20rem;
  overflow: hidden;
  font-size: 1.2rem;
  background-color: $color-black-light;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;

  @include respond(desktop) {
    width: 25rem;
    height: 14rem;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
  }

  &:hover {
    transform: scale(1.1);

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to top,
        rgba($color-black, 0.7),
        transparent
      );
      content: '';
    }
  }

  &__info {
    position: absolute;
    bottom: -4rem;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
  }

  &__title {
    flex: 0 0 100%;
    color: $color-white;
  }

  &__icons {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    color: $color-grey;
    font-size: 3.5rem;
  }

  &__icon {
    display: inline-block;
    margin-right: 1rem;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      color: $color-white;
    }
  }

  span {
    margin-right: 2rem;
  }
}

.item:hover .item__info {
  bottom: 0;
  visibility: visible;
  opacity: 1;
}
