.teaser {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20rem;
  margin-bottom: 9rem;

  @include respond(tab-land) {
    margin-top: 12rem;
  }

  & iframe {
    @include respond(tab-land) {
      width: 600px;
      height: 300px;
    }
  }

  &__heading {
    align-self: flex-start;
  }
}
